#mainHome {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 3.2rem;
    color: #fff;
    transition: transform 0.3s ease-in-out;
    font-family: 'Titillium Web', sans-serif;
    overflow: hidden;
}

#ecelllogo {
    width: 7rem;
}

#navright {
    display: flex;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    position: relative;
    animation-duration: 500ms;
    left: 150%;
}

@keyframes navslide {
    0% {
        left: 150%;
    }

    20% {
        opacity: 0;
    }

    100% {
        left: 0%;
        opacity: 1;
    }
}

@keyframes revnavslide {
    0% {
        left: 0%;
    }

    80% {
        opacity: 0;
    }

    100% {
        left: 150%;
    }
}

#menu a {
    font-size: 14px;
    letter-spacing: 0.4px;
    padding: 0px 16px;
    color: #fff;
    text-decoration: none;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 50%;
    padding: 14px 12px;
    transition: transform 0.3s ease-in-out;
}

.hamburger:hover {
    background-color: #1f1e1e;
}

.hamburger .bar {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
    transition: all 0.3s ease-in-out;
}

.hamburger.cross .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-4px, 4px);
}

.hamburger.cross .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.cross .bar:nth-child(3) {
    transform: rotate(45deg) translate(-4px, -4px);
}

#mainhead {
    user-select: none;
    /* border: 1px solid gold; */
    margin-top: 4vw;

}

.ecellhead {
    text-align: center;
    font-size: 6vw;
    font-weight: 700;
    background: linear-gradient(90deg, #2E3192 20%, #1BFFFF 40%, #1BFFFF 70%, #2E3192);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-style: normal;
    text-transform: capitalize;
    animation: linr 5s ease-in infinite;
}

@keyframes linr {
    0% {
        background-position: 200%;
    }
}

.nithead {
    text-align: right;
    margin-right: 13rem;
    font-size: 4.5vw;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-style: normal;
    background-color: white;
}

.carousel {
    width: 100%;
    max-width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2rem;
}

.carousel__item {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 12px;
    opacity: 1;
    /* filter: drop-shadow(0 2px 2px #555); */
    /* will-change: transform, opacity; */
    -webkit-animation: carousel-animate-vertical 12s linear infinite;
    animation: carousel-animate-vertical 12s linear infinite;
}

.carousel__item:nth-child(1) {
    /* -webkit-animation-delay: calc(3s * -1); */
    /* animation-delay: calc(3s * -1); */
    /* transform: translate(0%, -100%); */
    /* opacity: 0.2; */
}

.carousel__item:nth-child(2) {
    /* -webkit-animation-delay: calc(3s * 0); */
    /* animation-delay: calc(3s * 0); */
}

.carousel__item:nth-child(3) {
    /* -webkit-animation-delay: calc(3s * 1); */
    /* animation-delay: calc(3s * 1); */
    /* transform: translate(0%, 100%); */
    /* opacity: 0.2; */
}

.carousel__item:nth-child(4) {
    /* -webkit-animation-delay: calc(3s * 2); */
    /* animation-delay: calc(3s * 2); */
}


.carousel__item-head {
    border-radius: 50%;
    border: 1px solid white;
    padding: 3px;
    position: relative;
    margin-right: -45px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.carousel__item-body {
    width: 100%;
    border-radius: 8px;
    color: #ff0032;
    padding: 0px 20px 0px 70px;
    font-size: 1.5rem;
}

.title {
    text-transform: uppercase;
    font-size: 1.8 rem;
    margin-top: 10px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.carousel__item {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 12px;
    opacity: 0;
    filter: drop-shadow(0 2px 2px #555);
    will-change: transform, opacity;
    -webkit-animation: carousel-animate-vertical 12s linear infinite;
    animation: carousel-animate-vertical 12s linear infinite;
}

.carousel__item:nth-child(1) {
    -webkit-animation-delay: calc(3s * -1);
    animation-delay: calc(3s * -1);
}

.carousel__item:nth-child(2) {
    -webkit-animation-delay: calc(3s * 0);
    animation-delay: calc(3s * 0);
}

.carousel__item:nth-child(3) {
    -webkit-animation-delay: calc(3s * 1);
    animation-delay: calc(3s * 1);
}

.carousel__item:nth-child(4) {
    -webkit-animation-delay: calc(3s * 2);
    animation-delay: calc(3s * 2);
}

.carousel__item-head {
    border-radius: 50%;
    background-color: #d7f7fc;
    width: 90px;
    height: 90px;
    padding: 14px;
    position: relative;
    margin-right: -45px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.carousel__item-body {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 20px 16px 70px;
}

.title {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
}

@-webkit-keyframes carousel-animate-vertical {
    0% {
        transform: translateY(100%) scale(0.5);
        opacity: 0;
        visibility: hidden;
    }

    25%,
    75% {
        transform: translateY(0) scale(1);
        opacity: 1;
        visibility: visible;
    }

    100% {
        transform: translateY(-100%) scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes carousel-animate-vertical {
    0% {
        transform: translateY(100%) scale(0.5);
        opacity: 0;
        visibility: hidden;
    }

    25%,
    75% {
        transform: translateY(0) scale(1);
        opacity: 1;
        visibility: visible;
    }

    100% {
        transform: translateY(-100%) scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
}